body{
    background-size: cover;
    gradiant
}

select{
    margin-top: 2px;
}

header,article{
    margin: 2%;
}

.header-title{
    margin: 2px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}


.weatherCard-header{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.header{
    padding: 5px;
    margin: 1%;
    align-content: center;
}

.weatherCard-temp> h3{
    margin: 40% 0;
}

/* Weather card City */

.weatherCard-city-name,.cardTitle{
    text-align: center;
}

.weatherCard-img-img{
    width: 30%;
}

/* Weather Card midsection */
.weatherCard-article{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.weatherCard-article> div{
    margin: 10px;
    width: 30px;
}
.img{
    width: 40%;
    margin: 0px 10px;
}
.dropdown{
    margin: 10px;
    width: 100%;
    position: relative;
}

.btn{
    margin: 20px 0 0 ;
}